//Styles for the discussion card
.discussion-card.ant-list-item {
  box-shadow: 0 0 0 0px #f0f0f0;
  border-radius: 2px;
  transition: box-shadow 0.2s linear;
}

.discussion-card.ant-list-item:hover {
  box-shadow: 0 0 0 2px rgba(64, 92, 238, 0.67);
}
