//Styles for the discussion card
.discussion-card.ant-list-item {
  box-shadow: 0 0 0 0px #f0f0f0;
  border-radius: 2px;
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: 0 0 0 2px rgba(64, 92, 238, 0.23);
  }
}

.discussion-card {
  .discussion-header-styles {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // Ellipses
  a.ant-dropdown-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: large;
  }

  ul.ant-list-item-action {
    position: relative;
  }
  ul.ant-list-item-action li:nth-child(3) {
    position: absolute;
    padding-right: 0;
    right: 0;
    bottom: 0;
  }
}
