/* ------------------------ Selected Menu Item Styles ----------------------- */
.ant-menu-item {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  transition: border-color 0.3s, background 0.3s, border-radius 0.3s, color 0.3s,
    margin-left 0.3s;
  padding: 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: border-color, background, padding,
    border-bottom-right-radius, border-top-right-radius, color, margin-left;
  transition-duration: 0.3s, 0.3s, 0.15s;
  transition-delay: 0s, 0s, 0s;
  &:active {
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    a {
      color: white;
    }
  }
}
.ant-menu-item.ant-menu-item-selected {
  color: white;
  margin-left: -20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-right: none;
  transition: border-color 0.3s, background 0.3s, border-radius 0.3s, color 0.3s,
    margin-left 0.3s;
  a {
    color: white;
    font-weight: 425;
  }
}


/* -------------------------------- Flag Chip ------------------------------- */
.flag-chip.ant-btn.ant-btn.ant-btn-background-ghost::after {
  border: none !important;
}
.flag-chip.ant-btn {
  animation-duration: 0s !important;
  color: @flag-color;
  border: 2px solid @flag-color;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
    transform: scale(1.04);
  }
  &:active {
    transform: scale(0.96);
    outline: none;
    box-shadow: none;
  }
}

/* ---------------------------------- Link ---------------------------------- */
