* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #23272a;
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
